.firstround{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    background: #000;
    border-radius: 50%;
    position: fixed;
    top: 20%;
    left: 20%;
}

.secondround{
    width: 250px;
    height: 250px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    position: fixed;
    top: 23%;
    left: 22%;
}

.thirdround{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #000;
    border-radius: 50%;
    position: fixed;
    top: 26%;
    left: 23.8%;
}

.signin{
    width: 60%;
    height: 400px;
    border-radius: 8px;
    position: fixed;
    left: 30%;
    top: 30%;
    border: 1px solid red;
}